// 基本
$base__fontColor: #000000;
$base__fontSize_12: 12px;
$base__fontSize_14: 14px;
$base__fontSize_16: 16px;
$base__fontSize_18: 18px;
$base__fontSize_24: 24px;
$base__fontSize_28: 28px;
$base__fontSize_36: 36px;
$base__fontSize_48: 48px;
$base__fontSize_56: 56px;
$base__fontFamily: 'Noto Sans TC', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, Microsoft JhengHei;

// 功能色
$color__link: #0091BC;
$color__error: #FE3208;
$color__caption: #5e5e5e;

// 主題色
$color__main: #FE3208;
$color__minor: #B0D5FF;
$color__line: #00BB00;