@import './functions';
@import './mixins';
@import './variables';
@import './reset';


// 工具性類別

.flex {
    display: flex;
}


// 通用元件樣式

.btn-link {
    color: $color__link;
}

.input__caption {
    color: $color__caption;
    font-size: smaller;
}

.input__error {
    color: $color__error;
}


// 網站結構樣式

.env-info {
    position: absolute;
    left: 5px;
    top: 5px;
    z-index: z('env-info');
    color: #fff;
    font-size: 12px;
}

.app-header {
    @include flex-center-vert;
    height: 50px;
    background: black;
    color: white;
    padding: 0 15px 0 5px;
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
    z-index: z(header);

    &__logo {
        width: 50px;
    }

    &__title {
        margin-right: auto;
        font-weight: bold;
    }

    &__nav {
        display: flex;
    }

    &__nav-item {
        margin: 0 10px;
    }
}

.app-body {

    &__container {
        max-width: 1024px;
        margin: 0 auto;
        background-color: #fff;
        min-height: calc(100vh - 50px);
        padding: 10px 20px;
    }

}

.dev-container {
    margin: 20px 50px;
}