@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/variables";
@import "./normalize/normalize";
@import "./normalize/normalize_custom";
@import "./components";
@import "./containers";
@import "./pages/";

// =================================================================
// =========== 工具性類別(可選用一組通用庫 e.g. tailwind) ==============
// =================================================================

.freezed {
    overflow: hidden;
}

// =================================================================
// =================== 通用樣式(尚未建立成組件) ========================
// =================================================================

// ...
// ...

// =================================================================
// ===================== 主體樣式(網站主結構) =========================
// =================================================================

.env-info {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: z(env-info);
    font-size: 12px;
    color: $color-caption;
}
