@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/variables";
@import "./normalize/normalize";
@import "./normalize/normalize_custom";
@import "./components";
@import "./containers";
@import "./pages/";

// =================================================================
// =========== 工具性類別(可選用一組通用庫 e.g. tailwind) ==============
// =================================================================

.freezed {
    overflow: hidden;
}

// =================================================================
// =================== 通用樣式(尚未建立成組件) ========================
// =================================================================

// ...
// ...

// =================================================================
// ===================== 主體樣式(網站主結構) =========================
// =================================================================

.env-info {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: z(env-info);
    font-size: 12px;
    color: $color-caption;
}

.app-header {
    @include flex-center-vert;

    position: relative;
    z-index: z(header);
    max-width: 1024px;
    height: 55px;
    padding: 0 15px 0 5px;
    margin: 0 auto;
    color: white;
    background: black;

    &__logo {
        width: 50px;
    }

    &__title {
        margin-right: auto;
        font-weight: bold;
    }

    &__nav {
        display: flex;
        padding-left: 0;
        list-style: none;
    }

    &__nav-item {
        margin: 0 10px;

        >a,
        button {
            color: #fff;
            cursor: pointer;

            &:hover {
                color: $color-btn;
            }
        }
    }
}

.app-body {
    &__container {
        position: relative;
        max-width: 1024px;
        min-height: calc(100vh - 55px);
        padding: 10px 20px;
        margin: 0 auto;
        background-color: $color-bg-content;
    }
}
