// 使用 component name 作為頂層 class name

.form-text-input {
    &__caption {
        color: $color__caption;
        font-size: smaller;
    }

    &__error {
        color: $color__error;
    }
}

.loading-mask {
    z-index: z(mask);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 0;
    height: 100vh;
    background-color: rgb(224 224 224 / 70%);
    backdrop-filter: blur(1px);

    &__loader {
        display: inline-block;
        position: relative;
        width: 40px;
        height: 10px;
    }

    &__loader-item {
        position: absolute;
        top: 2px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: rgb(61 78 196);
        animation-timing-function: cubic-bezier(0, 1, 1, 0);

        &:nth-child(1) {
            left: 1px;
            animation: lds-ellipsis1 0.6s infinite;
        }

        &:nth-child(2) {
            left: 1px;
            animation: lds-ellipsis2 0.6s infinite;
        }

        &:nth-child(3) {
            left: 16px;
            animation: lds-ellipsis2 0.6s infinite;
        }

        &:nth-child(4) {
            left: 29px;
            animation: lds-ellipsis3 0.6s infinite;
        }
    }

    @keyframes lds-ellipsis1 {
        0% {
            transform: scale(0);
        }

        100% {
            transform: scale(1);
        }
    }

    @keyframes lds-ellipsis3 {
        0% {
            transform: scale(1);
        }

        100% {
            transform: scale(0);
        }
    }

    @keyframes lds-ellipsis2 {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(15px, 0);
        }
    }
}