// 基本字色、字號、字體
$base-font-color: #000;
$base-font-size-12: 12px;
$base-font-size-14: 14px;
$base-font-size-20: 20px;
$base-font-size-32: 32px;
$base-font-family: "Noto Sans TC", -apple-system, blinkmacsystemfont, "Segoe UI", roboto, helvetica, arial, sans-serif, microsoft jhenghei;

// 功能色
$color-error: #fe3208;
$color-caption: #5e5e5e;
$color-btn: #57ccec;

// 背景色
$color-bg-body: #fff;
$color-bg-content: #f0f5f5;

// 主題色
$color-main: #61dafb;
$color-minor: #b0d5ff;
