.pg-dev {
    padding: 20px 50px;
    background-color: $color-bg-content;

    .section {
        padding: 15px;
        margin: 20px 0;
        border: 1px solid black;
        border-radius: 5px;

        &__title {
            margin-top: 5px;
        }

        input {
            max-width: 100%;
        }
    }

    .input-group {
        &__label {
            display: inline-block;
            width: 75px;
            padding-right: 10px;
            line-height: 40px;
            vertical-align: top;
        }

        &__input {
            display: inline-block;
        }
    }
}
