.ct-app-layout {
    .app-header {
        @include flex-center-vert;

        position: relative;
        z-index: z(header);
        max-width: 1024px;
        height: 55px;
        padding: 0 15px 0 5px;
        margin: 0 auto;
        color: white;
        background: black;

        &__logo {
            width: 50px;
        }

        &__title {
            margin-right: auto;
            font-weight: bold;
        }

        &__nav {
            display: flex;
            padding-left: 0;
            list-style: none;
        }

        &__nav-item {
            margin: 0 10px;

            >a,
            button {
                color: #fff;
                cursor: pointer;

                &:hover {
                    color: $color-btn;
                }
            }
        }
    }

    .app-body {
        &__container {
            position: relative;
            max-width: 1024px;
            min-height: calc(100vh - 55px);
            padding: 10px 20px;
            margin: 0 auto;
            background-color: $color-bg-content;
        }
    }
}
